*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
    /* padding: 20px; */
}
.container{
    height: 100%;
    width: 100%;
    margin: auto;
    contain: content;
}
.background-image{
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: transparent;
}
.logo{
    margin-left: 150px;
    color: #e50914;
    fill: currentColor;
    width: 200px;
}
.language-select{
    color: #fff;
    background-color: #000000;
    border: 1px solid #fff;
    margin-right:-800px;
    padding: 8px;
    border-radius: 4px;   
    font-size: 16px;
}

.sign-in-button{
    margin-right: 100px;
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
}
.sign-in-button:hover{
    background-color: #f70511b1;
    transition: all 0.2s;
}

.main-heading{
    font-weight: 900;
    color: #fff;
    font-size: 60px;
    text-align: center;
    margin-top: 200px;
}
.sub-heading{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.email-box input{
    color: white;
    font-size: 20px;
}

.email-box button:hover{
    background-color: rgba(255, 0, 0, 0.683);
    transition: all 0.3s;
}

.gradiant{
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    /* margin-top: 46.5%; */
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);    z-index: -1;
}
.text{
    margin-top: 45px;
    margin-left: 80px;
    font-size: 30px;
    color:white;
    font-weight: 600;
}
.card{
     display: flex;
}
.cardmain{
    margin-top: 45px;
    margin-left: 80px;
}
.card-img{
    border-radius: 10px;
}
.card-img:hover{
    transition: all 0.3s;
    transform: scale(1.1);
}
.num1{
    left:65px;
    top:230px;
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 150px;
    z-index: 1;
}
.num2{
    left:345px;
    top:230px;
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 150px;
    z-index: 1;
}
.num3{
    left:620px;
    top:230px;
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 150px;
    z-index: 1;
}
.num4{
    left:900px;
    top:230px;
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 150px;
    z-index: 1;
}
.num5{
    left:1180px;
    top:230px;
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 150px;
    z-index: 1;
}
.features {
    padding: 40px 60px;
}
.features h2{
    color: #fff;
}
.feature-contain{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.f-box {
    background: linear-gradient(135deg, #201234, #111525);
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    color: white;
    background-color:white;
}
.f-img{
    margin-top: 100px;
    margin-left: 200px;
}
.faq {
    
    padding: 40px 60px;
}
.txt{
    color: white;
    margin-left: 150px;
}
.faq-box {
    margin-left: 150px;
    color: white;
    height: 60px;
    width: 1000px;
    background: lab(19.87% 0 0);
    padding: 15px;
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.faq :hover{
    background-color: gray;
}

.center {
    justify-content: center;
    margin-top: 20px;
}
.email-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.email-box input {
    border-radius: 5px;
    height: 30px;
    width: 350px;
    /* padding: 12px; */
    font-size: 16px;
    border: none;
}
.btn{
    border-radius: 5px;
    height: 30px;
    background-color: #f40612;
}
footer {
    padding-left:200px ;
    color: white;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0;
    gap: 10px;
}

.footer-links a {
    color: #aaa;
    text-decoration: none;
    font-size: 17px;
}
